.tc-white{
  color: #FFFFFF!important;
}

p{
  font-size: inherit;
}

.image_redimmensionnee{
  height:auto;
}

@media (max-width : 767px) {
  .image_redimmensionnee{
    width:270px;
    height:auto;
    margin: auto;
  }
}
