.tc-white{
  color: #FFFFFF!important;
}

p{
  font-size: inherit;
}

.logo_la_panthere_redimensionnee{
  width: 216.88px;
  height:40px;
}

.logo_redimmensionnee{
  width: 100px;
  height:100px;
}

@media (max-width : 767px) {
  .image_redimmensionnee{
    width:270px;
    height:auto;
    margin: auto;
  }
}
